In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('kc_house_data.csv', encoding = 'windows-1251')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Задача 1

### 1.2

Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [3]:
df['delta_renovated'] = 0
df.loc[df['yr_renovated'] != 0, 'delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.sample(25)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
4141,4221250090,20141113T000000,545000.0,3,2.50,1990,5149,2.0,0,0,...,1990,0,2003,0,98075,47.5895,-122.019,2280,4506,0
4192,4083304535,20141114T000000,1045000.0,4,2.75,2950,4560,2.0,0,0,...,1810,1140,1912,0,98103,47.6525,-122.333,2000,4560,0
17856,8820902549,20141119T000000,718000.0,3,1.75,2280,3446,2.0,0,0,...,2280,0,1949,1991,98125,47.7150,-122.282,1610,6670,42
8584,2997800090,20150406T000000,575000.0,3,1.00,1220,5652,1.0,0,0,...,1220,0,1905,0,98116,47.5767,-122.408,1490,2467,0
779,1954700695,20140612T000000,2250000.0,5,4.25,4860,9453,1.5,0,1,...,3100,1760,1905,0,98112,47.6196,-122.286,3150,8557,0
19413,7340600068,20140514T000000,215000.0,2,1.00,1240,7200,1.0,0,0,...,1240,0,1967,0,98168,47.4971,-122.282,1130,9200,0
4723,7635801311,20140623T000000,495000.0,3,2.00,2950,12196,2.0,0,0,...,2310,640,1918,0,98166,47.4702,-122.365,2320,19844,0
14898,4376800010,20140814T000000,610000.0,4,2.25,1960,9021,2.0,0,0,...,1960,0,1973,0,98052,47.6349,-122.096,1960,9975,0
14642,3530210180,20140723T000000,835000.0,4,3.00,4480,42717,2.0,0,0,...,4480,0,1987,0,98077,47.7711,-122.088,3140,41632,0
15388,3395800305,20140605T000000,270000.0,3,1.50,1890,9450,1.0,0,0,...,1090,800,1957,0,98146,47.4829,-122.341,1470,8100,0
7498,13002495,20140707T000000,295000.0,3,1.50,1640,7222,2.0,0,0,...,1640,0,1908,0,98108,47.5215,-122.330,1240,5100,0
4732,4141400100,20150120T000000,545000.0,4,2.25,2050,9720,2.0,0,0,...,2050,0,1967,0,98008,47.5911,-122.119,2310,9680,0
4932,3629870420,20140912T000000,970000.0,4,3.50,3780,20023,2.0,0,2,...,3780,0,2001,0,98029,47.5491,-122.006,2150,3675,0
5729,1245002125,20140604T000000,837500.0,4,2.50,2700,9320,2.0,0,0,...,2700,0,1994,0,98033,47.6861,-122.198,2120,8056,0
18780,7544800195,20140813T000000,415000.0,1,1.00,760,3000,1.0,0,0,...,760,0,1900,0,98122,47.6059,-122.303,1270,3000,0
11048,808300270,20140527T000000,450000.0,4,2.50,2520,8515,2.0,0,0,...,2520,0,1999,0,98019,47.7233,-121.959,2130,6930,0
18436,1683600110,20150305T000000,230000.0,3,1.75,1720,9125,1.0,0,0,...,1140,580,1981,0,98092,47.3173,-122.181,1120,7506,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,0
5975,7282300095,20140709T000000,295000.0,2,1.00,800,6500,1.0,0,0,...,800,0,1953,0,98133,47.7621,-122.358,1220,7000,0
10895,7212680860,20150209T000000,297262.0,3,2.50,1730,8076,2.0,0,0,...,1730,0,1994,0,98003,47.2619,-122.308,1780,6930,0
7749,4058200985,20140911T000000,472000.0,3,1.75,2180,7200,1.0,0,3,...,1090,1090,1954,0,98178,47.5044,-122.235,2180,7140,0
14855,324000530,20140708T000000,201500.0,3,1.00,1320,5000,1.5,0,0,...,1320,0,1912,0,98116,47.5711,-122.386,1320,4179,0
16843,2558600130,20141023T000000,379000.0,3,2.50,1500,7420,1.0,0,0,...,1000,500,1972,0,98034,47.7236,-122.174,1840,7272,0
1974,4443801160,20140610T000000,420000.0,2,1.00,860,3880,1.0,0,0,...,860,0,1916,0,98117,47.6862,-122.391,1230,4260,0
380,1726059053,20140916T000000,270000.0,2,1.50,1380,209959,1.0,0,0,...,1380,0,1954,0,98011,47.7461,-122.195,3130,19868,0

### 1.3

Создайте признаки года продажи, месяца продажи

In [4]:
df['date'] = pd.to_datetime(df['date'])
df['yr_sale'] = df['date'].apply(lambda x: x.date().year)
df['month_sale'] = df['date'].apply(lambda x: x.date().month)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,2014,10
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,2014,12
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,2015,2
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,2014,12
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,2015,2

### 1.4

Удалите признаки date, zipcode, lat, long

In [5]:
df.drop(columns = ['date', 'zipcode', 'lat', 'long'], inplace = True)
df.sample(5)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
15918,5135000050,960000.0,4,2.50,2820,5934,1.0,0,3,5,9,1770,1050,1952,0,2230,6000,0,2014,8
8848,2770600930,601000.0,3,2.50,1740,1251,2.0,0,0,3,9,1180,560,2012,0,1740,1625,0,2014,10
872,6665800060,795000.0,3,2.00,2920,13650,1.0,0,2,5,8,1460,1460,1975,0,2920,10988,0,2015,3
9634,1773101050,290000.0,3,1.00,960,4560,1.0,0,0,4,7,960,0,1968,0,970,4800,0,2015,2
12782,2473370870,449950.0,4,2.25,3490,8400,1.5,0,0,4,8,3490,0,1976,0,2320,8723,0,2015,4

## Задача 2

Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [6]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196] })
clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

In [7]:
clients_id = clients.set_index('house_id')
clients_id.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

In [10]:
house_idx = df.set_index('id')
house_idx.sample(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
id,,,,,,,,,,,,,,,,,,,
4233800020,270000.0,4,2.50,2701,5821,2.0,0,0,3,7,2701,0,2013,0,2566,5843,0,2014,10
8669160170,259000.0,3,2.50,1550,3569,2.0,0,0,3,7,1550,0,2011,0,2095,3402,0,2014,5
9808700762,7062500.0,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,3930,25449,61,2014,6
8122100690,449000.0,4,2.50,1850,5040,1.0,0,0,3,7,1230,620,1930,2013,1010,5040,83,2014,6
7303200450,242000.0,3,1.75,1500,7560,1.0,0,0,3,7,1500,0,1979,0,1500,7560,0,2015,4

### 2.1

Присоедините к таблице clients данные по домам через метод join

In [13]:
house_of_clients = clients_id.join(house_idx)
house_of_clients

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,9
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,9
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,6
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,0,2014,6
1622049154,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,62,2014,12
1788800910,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,0,2014,10
1951600150,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,0,2015,4
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12
2768100205,4929,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,0,2014,6
3123049142,280,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,0,2014,8
3303980210,3317,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,0,2015,4
3889100029,1611,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,0,2014,6
3995700435,1384,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,0,2014,7
5083000375,4332,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2014,10
5083000375,4332,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2015,3
5104540330,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,0,2015,5
5428000070,2295,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,0,2015,5
6131600255,4236,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,0,2014,12
6306800010,20,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,0,2014,8
6821600300,2866,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,0,2015,3
6823100225,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,0,2015,4
7137950720,2765,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,0,2015,3
7731100066,2260,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,0,2014,6
7920100025,3475,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,0,2015,4
8100400160,3840,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,0,2015,4
8146100580,1727,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,0,2014,10
8563000110,2068,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,0,2015,4
8861700030,1589,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,0,2014,12
8965450190,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,0,2015,2
9510920050,1472,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,0,2014,9
9524100196,1474,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,0,2014,11

### 2.2

Присоедините к таблице clients данные по домам через метод merge

In [15]:
clients.merge(df, left_on='house_id', right_on='id')

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,2015,2
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,2015,4
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,2015,5
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,2014,6
5,2308,1189000207,1189000207,387000.0,2,2.50,1170,1394,2.0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,2866,6821600300,6821600300,886000.0,3,2.25,2380,6000,2.0,0,...,9,1650,730,1931,0,2000,6000,0,2015,3
7,2765,7137950720,7137950720,339100.0,4,2.50,2350,10655,2.0,0,...,8,2350,0,1992,0,2210,7028,0,2015,3
8,1472,9510920050,9510920050,725000.0,3,2.50,2980,16996,2.0,0,...,10,2980,0,1992,0,2980,15438,0,2014,9
9,4236,6131600255,6131600255,202500.0,3,2.00,1540,8316,1.0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,2295,5428000070,5428000070,770000.0,5,3.50,4750,8234,2.0,0,...,10,3350,1400,2013,0,2160,14496,0,2015,5
11,939,1788800910,1788800910,190000.0,3,1.00,1200,10458,1.0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,3840,8100400160,8100400160,700000.0,3,2.25,2330,11424,2.0,0,...,8,2330,0,1984,0,2050,11448,0,2015,4
13,280,3123049142,3123049142,452000.0,3,2.25,2600,14810,1.0,0,...,8,1490,1110,1956,0,2450,16715,0,2014,8
14,20,6306800010,6306800010,436472.0,4,2.50,2692,8392,2.0,0,...,9,2692,0,2014,0,2574,14446,0,2014,8
15,4332,5083000375,5083000375,170000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,4332,5083000375,5083000375,235000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2015,3
17,3475,7920100025,7920100025,450000.0,2,1.00,740,5100,1.0,0,...,7,740,0,1947,0,920,5100,0,2015,4
18,4213,1951600150,1951600150,180000.0,3,1.00,1610,8500,1.5,0,...,7,1610,0,1959,0,1070,8750,0,2015,4
19,3113,809001400,809001400,925000.0,3,1.00,1630,3200,1.5,0,...,8,1630,0,1912,0,1710,3600,0,2014,9
20,4809,339600110,339600110,395000.0,3,2.50,1610,3755,2.0,0,...,7,1610,0,1987,0,1300,3823,0,2014,9
21,2134,1622049154,1622049154,289900.0,3,1.75,1899,11325,2.0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,2242,1099600250,1099600250,260000.0,3,1.75,1710,6400,1.0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,2068,8563000110,8563000110,427000.0,4,1.75,1460,9750,1.0,0,...,7,1460,0,1967,0,1820,9840,0,2015,4
24,4929,2768100205,2768100205,519000.0,4,2.50,1950,2617,1.5,0,...,7,1250,700,1910,0,1520,1438,0,2014,6
25,1384,3995700435,3995700435,265000.0,4,3.00,1940,8170,1.0,0,...,7,1940,0,1948,0,1310,8169,0,2014,7
26,1589,8861700030,8861700030,510000.0,3,1.50,2400,10275,1.0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3317,3303980210,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,...,11,4040,0,2002,0,3940,14212,0,2015,4
28,2260,7731100066,7731100066,545000.0,3,1.00,1510,5000,1.5,0,...,7,1510,0,1909,0,1680,4000,0,2014,6
29,1727,8146100580,8146100580,765000.0,3,1.00,1220,7585,1.0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,1764,825069097,825069097,770000.0,3,2.50,2650,40705,2.0,0,...,9,2650,0,1994,0,2550,42625,0,2014,6
31,1611,3889100029,3889100029,810000.0,3,2.50,2670,10481,2.0,0,...,9,2670,0,2003,0,2620,8895,0,2014,6
32,1474,9524100196,9524100196,239000.0,2,1.50,680,772,2.0,0,...,7,680,0,2005,0,690,1059,0,2014,11

## Задача 3

Составьте несколько сводных таблиц

### 3.1

Найдите среднюю стоимость домов в зависимости от количества спален. Отсортируйте от меньшей стоимости к большей

In [17]:
df.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price').round(2)

               price
bedrooms
1          317642.88
2          401372.68
0          409503.85
3          466232.08
11         520000.00
4          635419.50
33         640000.00
5          786599.83
10         819333.33
6          825520.64
9          893999.83
7          951184.66
8         1105076.92

### 3.2

Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [19]:
df.groupby('condition').agg({'price': ['max', 'min', 'mean']}).round(2)

               price
                 max       min       mean
condition
1          1500000.0   78000.0  334431.67
2          2555000.0   80000.0  327287.15
3          7062500.0   75000.0  542012.58
4          7700000.0   89000.0  521200.39
5          3650000.0  110000.0  612418.09

### 3.3

Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [21]:
df.pivot_table(index='view', columns='waterfront', aggfunc='count', fill_value = 0)

           bathrooms      bedrooms      condition      delta_renovated       \
waterfront         0    1        0    1         0    1               0    1
view
0              19489    0    19489    0     19489    0           19489    0
1                331    1      331    1       331    1             331    1
2                955    8      955    8       955    8             955    8
3                491   19      491   19       491   19             491   19
4                184  135      184  135       184  135             184  135

           floors       ... sqft_lot      sqft_lot15      yr_built       \
waterfront      0    1  ...        0    1          0    1        0    1
view                    ...
0           19489    0  ...    19489    0      19489    0    19489    0
1             331    1  ...      331    1        331    1      331    1
2             955    8  ...      955    8        955    8      955    8
3             491   19  ...      491   19        491   19      491   19
4             184  135  ...      184  135        184  135      184  135

           yr_renovated      yr_sale
waterfront            0    1       0    1
view
0                 19489    0   19489    0
1                   331    1     331    1
2                   955    8     955    8
3                   491   19     491   19
4                   184  135     184  135

[5 rows x 36 columns]

### 3.4

Каких домов в зависимости от этажности и количества спален больше?

In [23]:
df.groupby(['floors', 'bedrooms']).agg('max')

                         id      price  bathrooms  sqft_living  sqft_lot  \
floors bedrooms
1.0    0         9543000205   265000.0       1.00          844    213444
       1         9834201205   655100.0       2.50         2880    123710
       2         9842300485  1550000.0       3.50         3900   1164794
       3         9900000190  3300000.0       3.75         6400    623779
       4         9835800840  3395000.0       5.50         7000   1651359
       5         9808100150  4668000.0       6.75         9640    290980
       6         9547200530  2005000.0       4.50         5700     84506
       7         9187200345   999000.0       4.50         4140     34830
       8         7226500100  1650000.0       4.00         4040     20666
       10         627300145  1148000.0       5.25         4590     10920
       33        2402100895   640000.0       1.75         1620      6000
1.5    1         8649401270  1247000.0       2.25         2060    533610
       2         9895000040  1370000.0       3.00         2770    435600
       3         9839301060  2400000.0       3.75         4310    715690
       4         9834200165  2900000.0       4.50         5450    443440
       5         9842300095  2408000.0       4.25         5530   1074218
       6         9550202010  3650000.0       4.75         5480    228690
       7         5451100490   884900.0       4.75         5370     37607
       8         6746700615   700000.0       2.50         2280      3000
2.0    0         7849202299  1295650.0       2.50         4810     28008
       1         8835800480   680000.0       2.50         1940    188465
       2         9834201470  1998000.0       3.25         3950    920423
       3         9839300285  3800000.0       4.50         6030    843309
       4         9839300775  4489000.0       5.75         7850   1024068
       5         9826701490  7062500.0       6.50        10040    501376
       6         9558040820  6885000.0       7.75         9890    248600
       7         9175600025  2450000.0       6.75         7480     41664
       8         9126101740  2150000.0       6.00         4440     10441
       9         9822700190  1280000.0       7.50         4050      6504
       10        8812401450   660000.0       3.00         3610     11914
       11        1773100755   520000.0       3.00         3000      4960
2.5    1         2025079033   415000.0       2.00         3000    204732
       2         7524900003  3278000.0       2.50         6840    216344
       3         9828702156  2250000.0       4.25         5150    237402
       4         9831200520  2920000.0       4.75         6410    217800
       5         9831200500  3065000.0       4.50         6810     35765
       6         9187200285  7700000.0       8.00        12050     27600
       7         7159200005  3200000.0       4.50         6210     14400
       9         8823900290  1400000.0       4.50         4620      6988
3.0    0         3918400017   380000.0       1.50         1470      1650
       1         2767604252   516500.0       1.50         1120       912
       2         9831200186  1365000.0       3.25         2700      3444
       3         9834201367  2150000.0       4.00         5120     55321
       4         9831200172  1850000.0       4.75         5610    881654
       5         7137300040  2945000.0       4.50         6200    142725
       6         7013200280  3100000.0       4.50         6980     17877
       7         1225069038  2280000.0       8.00        13540    307752
3.5    0         6306400140  1095000.0       0.00         3064      4764
       2         1972200426   525000.0       2.75         1730      1268
       3         8673400177   563500.0       3.00         1760      1755
       8         1346300150  3300000.0       4.00         7710     11750

                 waterfront  view  condition  grade  sqft_above  \
floors bedrooms
1.0    0                  0     0          4      7         844
       1                  1     4          5      8        1940
       2                  1     4          5     10        2700
       3                  1     4          5     12        4120
       4                  1     4          5     13        5400
       5                  1     4          5     13        4820
       6                  0     4          5     10        3810
       7                  0     2          4      9        3150
       8                  0     0          4      9        2850
       10                 0     2          3      9        2500
       33                 0     0          5      7        1040
1.5    1                  1     4          5      9        1560
       2                  1     4          5      9        2360
       3                  1     4          5     11        4080
       4                  1     4          5     11        5450
       5                  0     4          5     10        5530
       6                  1     4          5     11        3910
       7                  0     0          5     10        5370
       8                  0     0          3      7        1210
2.0    0                  0     0          3     12        4810
       1                  0     2          4     10        1780
       2                  1     4          5     12        3900
       3                  1     4          5     13        5480
       4                  1     4          5     13        7850
       5                  1     4          5     13        8020
       6                  1     4          5     13        8860
       7                  0     4          5     11        5080
       8                  0     3          5     10        4340
       9                  0     0          3      8        4050
       10                 0     0          4      7        3010
       11                 0     0          3      7        2400
2.5    1                  0     2          3      8        3000
       2                  1     4          4     11        4350
       3                  0     4          5     11        4170
       4                  1     4          5     12        5610
       5                  0     4          5     13        6110
       6                  0     3          5     13        8570
       7                  0     2          5     11        5020
       9                  0     0          3     11        3870
3.0    0                  0     2          3      8        1470
       1                  0     0          3      9        1120
       2                  1     3          3     11        2700
       3                  1     4          5     12        4490
       4                  1     4          5     12        5000
       5                  1     4          4     11        6085
       6                  0     4          4     12        5330
       7                  0     4          3     12        9410
3.5    0                  0     2          3      7        3064
       2                  0     0          3      8        1730
       3                  0     2          3      8        1760
       8                  0     0          5     12        6090

                 sqft_basement  yr_built  yr_renovated  sqft_living15  \
floors bedrooms
1.0    0                     0      2003             0           2170
       1                  1440      2009          2014           2830
       2                  1950      2013          2014           4270
       3                  2590      2014          2015           4110
       4                  3500      2014          2015           5220
       5                  4820      2014          2015           5070
       6                  2850      1998          2015           3810
       7                  2070      1978          2005           2390
       8                  2020      1977             0           3670
       10                 2090      2008             0           2730
       33                  580      1947             0           1330
1.5    1                   580      2015          2002           2920
       2                  1040      2011          2008           3030
       3                  1800      2014          2014           4950
       4                  1800      2009          2014           4560
       5                  1760      2004          2015           5500
       6                  1570      1975          1985           3510
       7                  1280      1982             0           2810
       8                  1070      1911             0           1610
2.0    0                     0      2003             0           4740
       1                   840      2008          2004           3150
       2                  1190      2015          2014           3860
       3                  1820      2015          2014           4670
       4                  2200      2015          2015           6210
       5                  3260      2015          2014           6110
       6                  2390      2014          2015           5790
       7                  2400      2013          2013           4470
       8                  1500      1997             0           4440
       9                  1120      1996          2010           2510
       10                 1060      1958             0           2040
       11                  600      1918          1999           1420
2.5    1                     0      1979             0           2330
       2                  2490      2008             0           3120
       3                   980      2014          2014           4340
       4                  1900      2014          2009           4110
       5                  1600      2013          2007           4470
       6                  3480      1955          2002           4110
       7                  1450      1910             0           3050
       9                  1380      1938             0           2710
3.0    0                     0      2006             0           1470
       1                     0      2014             0           1380
       2                   560      2015             0           2710
       3                  1040      2015          2000           4400
       4                   860      2014          2014           4560
       5                  1650      2015          2008           4830
       6                  1650      2013          2004           3930
       7                  4130      1999             0           4850
3.5    0                     0      1990             0           2360
       2                     0      2008             0           1350
       3                     0      2007             0           1700
       8                  1620      1904             0           4210

                 sqft_lot15  delta_renovated  yr_sale  month_sale
floors bedrooms
1.0    0             224341                0     2015          10
       1             297514               97     2015          12
       2             386812              108     2015          12
       3             380279              109     2015          12
       4             425581               97     2015          12
       5             248292               59     2015          12
       6              43124               73     2015          12
       7              12054               48     2015          11
       8              20500                0     2015          11
       10             10400                0     2014           8
       33              4700                0     2014           6
1.5    1             217364               56     2015          12
       2             392040               98     2015          12
       3             560617              110     2015          12
       4             298182              108     2015          12
       5             220232              108     2015          12
       6             228690               76     2015          12
       7              40510                0     2015          11
       8               3000                0     2015           3
2.0    0              35061                0     2015          12
       1              21094               94     2015          11
       2             411962               81     2015          12
       3             438213              108     2015          12
       4             871200              114     2015          12
       5             256803              113     2015          12
       6             311610               74     2015          12
       7              38370               86     2015          10
       8              10457                0     2014          12
       9               5000               95     2015           8
       10             11914                0     2014          12
       11              4960               81     2014           8
2.5    1             213008                0     2014          12
       2             289978                0     2014          12
       3             326097              114     2015          12
       4             217800              102     2015          12
       5              34118              102     2015          12
       6              13950               77     2015          12
       7               7469                0     2014           9
       9               6291                0     2015           5
3.0    0               1650                0     2015           8
       1               3200                0     2015          10
       2               5650                0     2015          12
       3              41553               89     2015          12
       4             112384               68     2015          12
       5             128457               34     2015          12
       6              18367               85     2015          10
       7             217800                0     2014           5
3.5    0               4000                0     2014           6
       2               1288                0     2015           9
       3               1721                0     2015           8
       8               8325                0     2014          10

In [24]:
pd.crosstab(index=df['floors'], columns=df['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

### 3.5

Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [31]:
df.groupby(['condition','grade']).agg({'price': 'mean'}).unstack('grade').fillna(0).round(0)

              price                                                    \
grade            1         3         4         5         6         7
condition
1          142000.0       0.0  150000.0  280833.0  303814.0  334417.0
2               0.0  280000.0  179600.0  206167.0  269484.0  342699.0
3               0.0   75000.0  210000.0  246993.0  290652.0  385667.0
4               0.0       0.0  243905.0  245299.0  318732.0  412923.0
5               0.0  262000.0       0.0  271128.0  310141.0  479668.0


grade            8          9          10         11         12         13
condition
1          932500.0        0.0        0.0        0.0        0.0        0.0
2          421996.0   715000.0  1752500.0        0.0        0.0        0.0
3          510103.0   726588.0  1012934.0  1414401.0  2138601.0  3338636.0
4          589527.0   889665.0  1176285.0  1839916.0  2467962.0  5750000.0
5          736538.0  1123420.0  1735830.0  2238477.0  2290000.0        0.0